<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<!-- Required for IIS 6.5 and below -->
	<system.web>
		<httpHandlers>
			<add path="*" type="ServiceStack.WebHost.Endpoints.ServiceStackHttpHandlerFactory, ServiceStack" verb="*" />
		</httpHandlers>
		<compilation debug="true">
			<assemblies>
				<add assembly="System.Core, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
				<add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
				<add assembly="System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
				<add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
				<add assembly="System.Web.DynamicData, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
				<add assembly="System.ComponentModel.DataAnnotations, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
				<add assembly="System.Xml.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
				<add assembly="Microsoft.CSharp, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
				<add assembly="Mono.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=0738eb9f132ed756" />
			</assemblies>
		</compilation>
	</system.web>
	<!-- Required for IIS 7.0 -->
	<system.webServer>
		<handlers>
			<add path="*" name="ServiceStack.Factory" type="ServiceStack.WebHost.Endpoints.ServiceStackHttpHandlerFactory, ServiceStack" verb="*" preCondition="integratedMode" resourceType="Unspecified" allowPathInfo="true" />
		</handlers>
	</system.webServer>
	<!--- App Keys -->
	<appSettings>
		<add key="TrackerBroadcastDomain" value="127.0.0.1" />
		<add key="TrackerPort" value="6969" />
		<add key="TorrentsDirectory" value="~/App_Data/Torrents" />
		<add key="AnnounceIntervalInSeconds" value="60" />
		<add key="AllowUnregisteredTorrents" value="true" />
	</appSettings>
</configuration>